     
      <p><img src="./Assets/images/logo.JPG" alt="logo"  width="200" height="150" ></p>
      <br><br>
      <h4>Work hard, Be kind! </h4>
      <h5>Everything's Gonna Be Alright! </h5>
      <br>
      <h6>My mission in life is to to work hard, always be kind to others, and live with positive thoughts.</h6>
      <br>
      <button type="submit" class="btn btn-outline-secondary" id=moveButton><i class="fas fa-hand-point-right"></i> About Me</button>

